#skills {
    color: white;
    margin-bottom:5rem ;
}

#title{
    margin-bottom: 2rem;
}

#footer{
    margin: 5rem 0;
    font-size: large;
}

#footer a {
    text-decoration: underline;
    line-height: 1rem;
}